{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "@trivago/prettier-plugin-sort-imports"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "google"
  ],
  "rules": {
    "no-console": 2,
    "@typescript-eslint/no-explicit-any": 0
  }
}
